.blog-title {
  font-family: 'Roboto Slab', serif;
  font-size: 4.8rem;
  letter-spacing: 0.06em;
  margin-top: 0;
  margin-bottom: 2.8rem;
}

.blog-subheading {
  font-family: 'Roboto Slab', serif;
  letter-spacing: 0.06em;
  margin-top: 0;
  margin-bottom: 2.2rem;
}

.subheading-1 {
  font-size: 3.8rem;
}

.subheading-2 {
  font-size: 2.7rem;
}

.blog-text {
  font-family: 'Source Sans Pro';
  font-size: 1.6rem;
  letter-spacing: 0.02em;
  margin-top: 0;
  margin-bottom: 2rem;
}

.blog-image {
  margin: 0 0 1.6rem 0;
}

.blog-image img {
  max-height: 36rem;
  max-width: 100%;
  object-fit: contain;
  margin-bottom: 0.5rem;
}

.blog-image figcaption {
  color: #7c9091;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.6rem;
  letter-spacing: 0.02em;
}

.blog {
  max-width: 64rem;
  margin: 0 auto 2.8rem auto;
  padding-bottom: 0.8rem;
  border-bottom: 1px solid #042A2B;
}

.social-sharing {
  max-width: 64rem;
  margin: 0 auto 2.8rem auto;
}

.share-buttons {
  display: flex;
}

.share-buttons a {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Roboto, sans-serif;
  font-size: 1.6rem;
  padding: 1rem 2rem;
  text-decoration: none;

}

.share-button:hover,
.share-button:active {
  filter: brightness(1.1);
}

#twitter-share {
  background-color: #1da1f2;
}

#facebook-share {
  background-color: #1877f2;
}

#linkedin-share {
  background-color: #0073b1;
}

.author-info {
  max-width: 64rem;
  margin: 0 auto;
}

.author-details {
  height: min-content;
  display: grid;
  grid-template-columns: 10rem 1fr;
  grid-template-rows: 10rem min-content;
  font-family: Roboto, sans-serif;
}

.author-avatar {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.author-card {
  grid-column: 2 / -1;
  grid-row: 1 / 2;
  display: flex;
  flex-direction: column;
  padding-left: 1.6rem;
  justify-content: space-evenly;
}

.author-name {
  font-size: 3rem;
  letter-spacing: 0.02em;
}

.author-title {
  font-size: 2rem;
}

.author-workplace {
  font-size: 1.6rem;
  color: #7c9091;
}

.author-bio {
  grid-column: 1 / -1;
  grid-row: -2 / -1;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.6rem;
  letter-spacing: 0.02em;
}