@import url(./index.css);
@import url(./post-card.css);

html {
  /* set base font size to 10px */
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.site-header {
  background-color: #439775;
  height: 6.8rem;
  margin-bottom: 2.8rem;
}

.header-link {
  color: #fff;
  font-family: Roboto, sans-serif;
  font-size: 2.2rem;
  letter-spacing: 0.1em;
  text-decoration: none;
  text-transform: uppercase;
}

#site-home-link {
  font-family: Comfortaa, cursive;
  letter-spacing: 0.2em;
  text-transform: lowercase;
}

.header-nav {
  height: 100%;
  max-width: 31rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav ul {
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

.site-footer {
  height: 4.5rem;
  background-color: #042A2B;
  margin-top: 2.8rem;
}

.footer-content {
  color: #7C9091;
  font-family: Roboto, sans-serif;
  font-size: 1.6rem;
  letter-spacing: 0.02em;
  height: 100%;
  max-width: 31rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.section-heading {
  color: #042A2B;
  font-family: 'Roboto Slab', serif;
  font-size: 4.8rem;
  margin-top: 0;
  margin-bottom: 2.8rem;
}

main {
  max-width: 31rem;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .header-nav {
    max-width: 64rem;
  }

  .footer-content {
    max-width: 64rem;
  }

  main {
    max-width: 64rem;
  }
}